# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/[Bb]uild
Includes/SDL3_ttf/external/freetype/
Includes/SDL3_ttf/external/harfbuzz/
Includes/SDL3_ttf/external/plutosvg/
Includes/SDL3_ttf/external/plutovg/
